@import "tailwindcss";

:root {
  --light: #F72C5B;
  --light-hover: #D5264F;
  --dark: #D41A4A;
  --dark-hover: #BA173F;

  --text-primary: #213547;      
  --text-primary-dark: #FFFFFF;  
  --background: #FFFFFF;         
}


@media (prefers-color-scheme: light) {
  :root {
    --text: var(--text-primary);
    --bg: var(--background);
  }
  
  button {
    background-color: var(--light);
  }
  button:hover {
    background-color: var(--light-hover);
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --text: var(--text-primary-dark);
    --bg: #121212;               
    --surface: #1E1E1E;          
    --border: #2A2A2A;           
  }

  button {
    background-color: var(--dark);
  }
  button:hover {
    background-color: var(--dark-hover);
  }

  
  .dark\:bg-surface {
    background-color: var(--surface);
  }
  .dark\:text-muted {
    color: rgba(255, 255, 255, 0.7);
  }
}